# Q26. What is a string? How can we declare string in Python?

In [1]:
# strings in Python are arrays of bytes representing unicode characters

a = "Hello"
print(a)

Hello

# Q27.  How can we access the string using its index?

In [2]:
# You can access the characters in a string by referring to its index number inside square brackets [] 
print (a[4])

o

# Q28.  Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "iNeuron"

In [7]:
String="Big Data iNeuron" 
desired_output=[String[-7:]]
print(desired_output)

['iNeuron']

# 29. Write a code to get the desired output of the following

string = "Big Data iNeuron"
desired_output = "norueNi"

In [22]:
String="Big Data iNeuron" 
desired_output=[String[-1:-8:-1]]
print(desired_output)

['norueNi']

# 30. Resverse the string given in the above question.

In [19]:
def reverse(string):
    string = string[::-1]
    return string
  
s = "Big Data iNeuron"
  
print("The original string is : ", end="")
print(s)
  
print("The reversed string(using extended slice syntax) is : ", end="")
print(reverse(s))

The original string is : Big Data iNeuron
The reversed string(using extended slice syntax) is : norueNi ataD giB

# Q31. How can you delete entire string at once?

In [2]:
string='suman'
del string

# Q33. How can you print the below string?

'iNeuron's Big Data Course'

In [23]:
a = "iNeuron's Big Data Course'"
print(a)

iNeuron's Big Data Course'

# Q34. What is a list in Python?

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item.list store hytrogenics data.

# Q35. How can you create a list in Python?

In [27]:
list1 = ["abc", 34, True, 40, "male"]

In [28]:
print(list1)

['abc', 34, True, 40, 'male']

# Q36. How can we access the elements in a list?

In [26]:
list1 = [10, 20, 30, 40, 50]

# Accessing the elements of a list by its index
print("list1[0]: ", list1[0])
print("list1[1]: ", list1[1])
print("list1[2]: ", list1[2])
print("list1[3]: ", list1[3])
print("list1[4]: ", list1[4])

list1[0]:  10
list1[1]:  20
list1[2]:  30
list1[3]:  40
list1[4]:  50

# . Q37 Write a code to access the word "iNeuron" from the given list.

lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [29]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]

In [41]:
lst2=(lst[4])
print(lst2[2])

iNeuron

# Q38. Take a list as an input from the user and find the length of the list.

In [1]:
lst = []
  
n = int(input("Enter number of elements : "))
  
for i in range(0, n):
    ele = int(input())
  
    lst.append(ele) # adding the element
      
print(lst)
print(len(lst))

Enter number of elements :  5
 10
 23
 40
 45
 56

[10, 23, 40, 45, 56]
5

# 39 Add the word "Big" in the 3rd index of the given list.

lst = ["Welcome", "to", "Data", "course"]

In [45]:
lst = ["Welcome", "to", "Data", "course"]
lst.insert(2, "Big")
print(lst)

['Welcome', 'to', 'Big', 'Data', 'course']

# Q92. Write a Python program to convert a list of tuples into dictionary.

Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [49]:
input = [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
result = dict(input)
print(result)

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

# Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]

In [50]:
 myList = [9, 5, 6] 
tupleList = [] 
for val in myList:
    myTuple = (val, (val*val*val))
    tupleList.append(myTuple)

print("The list of Tuples is " , str(tupleList))

The list of Tuples is  [(9, 729), (5, 125), (6, 216)]

# . Write a Python program to get all combinations of 2 tuples.

Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

In [ ]:
 test_tuple1 = (7, 2)
    test_tuple2 = (7, 8)

# . Write a Python program to sort a list of tuples by second item.

Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [52]:
def Sort_Tuple(tup):
     
    # getting length of list of tuples
    lst = len(tup)
    for i in range(0, lst):
         
        for j in range(0, lst-i-1):
            if (tup[j][1] > tup[j + 1][1]):
                temp = tup[j]
                tup[j]= tup[j + 1]
                tup[j + 1]= temp
    return tup
 
# Driver Code
tup =[('for', 24),
      ('Geeks',8),
      ('Geeks', 30)]
       
print(Sort_Tuple(tup))

[('Geeks', 8), ('for', 24), ('Geeks', 30)]

# Q96. Write a python program to print below pattern.

* 
* * 
* * * 
* * * * 
* * * * *

In [69]:
rows = 6
for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print("*", end=' ')
    # new line after each row
    print('')

*
* *
* * *
* * * *
* * * * *

 # Q98. Write a python program to print below pattern.

In [74]:

rows =6
k = 2 * rows - 2  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
    k = k - 2   # decrement k value after each iteration  
    for j in range(0, i + 1):  
        print("* ", end="")  # printing star  
    print("")

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

# Write a python program to print below pattern.

    * 
   * * 
  * * * 
 * * * * 
* * * * *

In [2]:
rows = 5
k = 0
for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

# Q99. Write a python program to print below pattern.

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [77]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

100. Write a python program to print below pattern.

A 
B B 
C C C 
D D D D 
E E E E E

In [80]:
rows = 5

ascii_value = 65

for i in range(rows):
    for j in range(i+1):
        alphabet = chr(ascii_value)
        print(alphabet, end=" ")
    
    ascii_value += 1
    print("\n")

A

B B

C C C

D D D D

E E E E E

# Q76. Write a Python program to find the factorial of a given number.

In [1]:
num = int(input("enter the number:"))  
factorial = 1    
if num < 0:    
   print(" Factorial does not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of",num,"is",factorial)

enter the number: 5

The factorial of 5 is 120

# Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (PRT)/100

In [85]:
def simple_interest(p,t,r):
    print('The principal is', p)
    print('The time period is', t)
    print('The rate of interest is',r)
     
    si = (p * t * r)/100
     
    print('The Simple Interest is', si)
    return si
     
simple_interest(10, 9, 5)

The principal is 10
The time period is 9
The rate of interest is 5
The Simple Interest is 4.5

4.5

# Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [88]:
def compound_interest(principle, rate, time):
 
    # Calculates compound interest
    Amount = principle * (pow((1 + rate / 100), time))
    CI = Amount - principle
    print("Compound interest is", CI)
 
 

compound_interest(10000, 10.25, 5)

Compound interest is 6288.946267774416

# Q79. Write a Python program to check if a number is prime or not.

In [2]:
number =int(input("enter a number:"))
# prime number is always greater than 1
if number > 1:
    for i in range(2, number):
        if (number % i) == 0:
            print(number, "is not a prime number")
            break
    else:
        print(number, "is a prime number")

# if the entered number is less than or equal to 1
# then it is not prime number
else:
    print(number, "is not a prime number")

enter a number: 14

14 is not a prime number

# Q91. Write a Python program to merge two dictionary.

In [96]:
dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}

print(dict_1 | dict_2)

{1: 'a', 2: 'c', 4: 'd'}

# Q90. Write a Python program to extract unquire dictionary values.

In [97]:
my_dict = {'hi' : [5,3,8, 0],
   'there' : [22, 51, 63, 77],
   'how' : [7, 0, 22],
   'are' : [12, 11, 45],
   'you' : [56, 31, 89, 90]}

print("The dictionary is : ")
print(my_dict)

my_result = list(sorted({elem for val in my_dict.values() for elem in val}))

print("The unique values are : ")
print(my_result)

The dictionary is :
{'hi': [5, 3, 8, 0], 'there': [22, 51, 63, 77], 'how': [7, 0, 22], 'are': [12, 11, 45], 'you': [56, 31, 89, 90]}
The unique values are :
[0, 3, 5, 7, 8, 11, 12, 22, 31, 45, 51, 56, 63, 77, 89, 90]

# Q89. Write a Python program to find words which are greater than given length k.

In [98]:
sentence = "hello geeks for geeks is computer science portal"
length = 3
print([word for word in sentence.split() if len(word) > length])

['hello', 'geeks', 'geeks', 'computer', 'science', 'portal']

# Q88. Write a Python program to check if a substring is present in a given string.

In [99]:
MyString = "A good student is need a good mentor"
 
if "need" in MyString:
    print("Yes! it is present in the string")
else:
    print("No! it is not present")

Yes! it is present in the string

# Q87. Write a Python program to remove i'th element from a string

# Q86. Write a Python program to check if a string is palindrome or not.

In [105]:
def isPalindrome(s):
    return s == s[::-1]
 
 
#
s = "TENET"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Yes

# Q85. Write a Python program to find cumulative sum of a list.

In [106]:
list=[10,20,30,40,50]
new_list=[]
j=0
for i in range(0,len(list)):
    j+=list[i]
    new_list.append(j)
     
print(new_list)

[10, 30, 60, 100, 150]

# Q84. Write a Python program to find N largest element from a list.

In [107]:
myList = [120, 50, 89, 170, 45, 250, 450, 340]

print("List = ",myList)

# The value of N
n = 2


# First, sort the List
myList.sort()

print("Largest integers from the List = ",myList[-n:])

List =  [120, 50, 89, 170, 45, 250, 450, 340]
Largest integers from the List =  [340, 450]

# Q83. Write a Python program to swap two elements in a list.

# Q82. Write a Python program to interchange the first and last element in a list.

In [108]:
myList = [1, 7, 3, 90, 23, 4]
print("Initial List : ", myList)

# finding the length of list
length = len(myList)

# Swapping first and last element
temp = myList[0]
myList[0] = myList[length - 1]
myList[length - 1] = temp

print("List after Swapping : ", myList)

Initial List :  [1, 7, 3, 90, 23, 4]
List after Swapping :  [4, 7, 3, 90, 23, 1]

# Q81. Write a Python program to find the n-th Fibonacci Number.

# Q80. Write a Python program to check Armstrong Number.

In [109]:
num = 153

# initialize sum
sum = 0

temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

153 is an Armstrong number

# Q40. What is a tuple? How is it different from list?

Tuples are also a sequence datatype containing elements of different data types.
Tuples are used to store heterogeneous and homogeneous data.
Tuples are immutable in nature.
Tuples are ordered
An index is used to traverse a tuple.
Tuples are similar to lists. It also preserves the data sequence.

# Q41. How can you create a tuple in Python?

In [3]:
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

# Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

In [4]:
t=(1,7,5,9)

In [5]:
print(t)

(1, 7, 5, 9)

In [6]:
t.insert("suman")

AttributeError: 'tuple' object has no attribute 'insert'

No, we can not add additional data to a tuple after declare it. Because tuple immutable.

# Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

In [7]:
#yes,
s=(2,5,8)
s_append = s + (8, 16, 67)
print(s_append)
print(s)

(2, 5, 8, 8, 16, 67)
(2, 5, 8)

# Q44. Take a tuple as an input and print the count of elements in it.

In [11]:
data = (2,4,6,8,10) 
print(data)  
data.count(2)

(2, 4, 6, 8, 10)

1

# Q45. What are sets in Python?

sets are used to store multiple items in a single variable. Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage. A set is a collection which is unordered, unchangeable*, and unindexed.

# Q46. How can you create a set?

In [13]:
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1.0, 'Hello', (1, 2, 3)}

# Q47. Create a set and add "iNeuron" in your set.

In [14]:
items = {1, 2, 3}
items.add("iNeuron")
print(items)

{'iNeuron', 1, 2, 3}

# Q48. Try to add multiple values using add() function.

In [16]:
items = {1, 2, 3}
items.add(9)
items.add(10)
items.add(4)
items.add(5)
print(items)

{1, 2, 3, 4, 5, 9, 10}

# q49. how is update() different from add() in python.

What is the difference between add and update in Python?
We use add() method to add single value to a set. We use update() method to add sequence values to a set. Here Sequences are any iterables including list , tuple , string , dict etc.

# Q50. What is clear() in sets?

In [18]:
#The clear() method removes all items from the set.
primeNumbers = {2, 3, 5, 7}

# clear all elements
primeNumbers.clear()

print(primeNumbers)

set()

# Q51. What is frozen set?

In [19]:
# Python frozenset() Method creates an immutable Set object from an iterable. It is a built-in Python function.
Student = {"name": "Ankit", "age": 21, "sex": "Male",
           "college": "MNNIT Allahabad", "address": "Allahabad"}

key = frozenset(Student)

print('The frozen set is:', key)

The frozen set is: frozenset({'address', 'college', 'age', 'name', 'sex'})

# Q52. How is frozen set different from set?

# Q53. What is union() in sets? Explain via code.

In [20]:
#The Python set union() method returns a new set with distinct elements from all the sets.
A = {2, 3, 5}
B = {1, 3, 5}

# compute union between A and B
print('A U B = ', A.union(B))

A U B =  {1, 2, 3, 5}

# Q54. What is intersection() in sets? Explain via code.

In [21]:
#The intersection() method returns a new set with elements that are common to all sets.
A = {2, 3, 5}
B = {1, 3, 5}

# compute intersection between A and B
print(A.intersection(B))

{3, 5}

# Q55. What is dictionary ibn Python?

# Q56. How is dictionary different from all other data structures.

# Q57. How can we delare a dictionary in Python?

In [23]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}
print(my_dict)

{1: 'apple', 2: 'ball'}

# Q58. What will the output of the following?

var = {}
print(type(var))

set()

# Q59. How can we add an element in a dictionary?

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

# Q60. Create a dictionary and access all the values in that dictionary.

# Q61. Create a nested dictionary and access all the element in the inner dictionary.

In [1]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [2]:
print(people[1]['name'])
print(people[1]['age'])
print(people[1]['sex'])

John
27
Male

# Q62. What is the use of get() function?

In [3]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)
#The get() method returns the value of the item with the specified key.

Mustang

# Q63. What is the use of items() function?

In [4]:
#The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

# Q64. What is the use of pop() function?

In [5]:
#The pop() method removes the element at the specified position.
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

'banana'

# Q65. What is the use of popitems() function?

In [6]:
#The popitem() method removes the item that was last inserted into the dictionary. I
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

# Q66. What is the use of keys() function?

In [7]:
#he keys() method returns a view object. The view object contains the keys of the dictionary, as a list.
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

# Q67. What is the use of values() function?

In [8]:
#The values() method returns a view object. The view object contains the values of the dictionary, as a list.
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

# Q68. What are loops in Python?

 loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

# Q69. How many type of loop are there in Python?

2 (for loop , while loop)

# Q70. What is the difference between for and while loops?

For Loop:
    It is used when the number of iterations is known.
    In case of no condition, the loop is repeated infinite times.
    Initialization is not repeated.
    Statement of Iteration is written after running.
    while loop:
    It is used when the number of iterations is not known.
    In case of no condition, an error will be shown.
    Initialization is repeated if carried out during the stage of checking.

# Q71. What is the use of continue statement?

The continue keyword is used to end the current iteration in a for loop (or a while loop), and continues to the next iteration.

# Q72. What is the use of break statement?

'Break' in Python is a loop control statement. It is used to control the sequence of the loop. Suppose you want to terminate a loop and skip to the next code after the loop; break will help you do that

# Q73. What is the use of pass statement?

In Python programming, the pass statement is a null statement which can be used as a placeholder for future code.

Suppose we have a loop or a function that is not implemented yet, but we want to implement it in the future. In such cases, we can use the pass statement.

# Q74. What is the use of range() function?

The Python range() function returns a sequence of numbers, in a given range. The most common use of it is to iterate sequence on a sequence of numbers using Python loops.

# Q75. How can you loop over a dictionary?